<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="log('side nav open')" (closed)="log('side nav close')">
        Side Nav
    </mat-sidenav>
    <mat-sidenav-content>
        Main content
        <button (click)="opened = !opened">Toggle</button>
        <button (click)="sidenav.open()">Open</button>
        <button (click)="sidenav.close()">Close</button>
        <button (click)="sidenav.toggle()">Toggle1</button>
    </mat-sidenav-content>
</mat-sidenav-container>