<hr>
<button mat-button>Click Me</button>
<button mat-raised-button>Click Me</button>
<button mat-flat-button>Click Me</button>
<button mat-stroked-button>Click Me</button>

<hr>
<button mat-icon-button>Icon</button>
<button mat-fab>Fab</button>
<button mat-mini-fab>MiniFab</button>


<hr>
Button Colors: You can apply the color any type of button<br>
<div>
    <button color="primary" mat-raised-button>Primary</button>
    <button color="accent" mat-raised-button>Accent</button>
    <button color="warn" mat-raised-button>Warn</button>
</div>

<hr>
Button Toggle
<br>
<mat-button-toggle #toggleButton Checked>Toggle Button</mat-button-toggle> {{toggleButton.checked}}

<hr>

<div>
    <mat-button-toggle-group #toggleGrp="matButtonToggleGroup">
        <mat-button-toggle value="angular">Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="flutter">Flutter</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGrp.value}}
    <br>
    <mat-button-toggle-group #toggleGrp1="matButtonToggleGroup" multiple>
        <mat-button-toggle value="angular">Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="flutter">Flutter</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGrp1.value}}
</div>