<hr>
<button mat-raised-button (click)="onClickTypography()">Typography</button>
<button mat-raised-button (click)="onClickMatButtons()">Material Button</button>
<button mat-raised-button (click)="onClickIcons()">Icons</button>
<button mat-raised-button (click)="onClickBadges()">Badges</button>
<button mat-raised-button (click)="onClickProgress()">Progress Spinner</button>
<button mat-raised-button (click)="onClickNavBar()">NavBar</button>
<button mat-raised-button (click)="onClickSideNav()">Side Nav</button>
<button mat-raised-button (click)="onClickMenu()">Menu</button>
<button mat-raised-button (click)="onClickList()">List</button>
<button mat-raised-button (click)="onClickGrid()">Grid</button>


<router-outlet></router-outlet>