<mat-grid-list cols="2">
    <mat-grid-tile>Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
    <mat-grid-tile>Tile 5</mat-grid-tile>
    <mat-grid-tile>Tile 6</mat-grid-tile>
</mat-grid-list>
<!-- no of cols we specify -->
<!-- no of rows will be specify the automatically  -->


Rowspan
<mat-grid-list cols="2">
    <mat-grid-tile rowspan="2">Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
    <mat-grid-tile>Tile 5</mat-grid-tile>
    <mat-grid-tile>Tile 6</mat-grid-tile>
</mat-grid-list>

Colspan
<mat-grid-list cols="2">
    <mat-grid-tile colspan="2">Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
    <mat-grid-tile>Tile 5</mat-grid-tile>
    <mat-grid-tile>Tile 6</mat-grid-tile>
</mat-grid-list>