<hr>
<mat-menu #appMenu="matMenu" xPosition="after" yPosition="below">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">Front End</button>
    <button mat-menu-item>Back End</button>
</mat-menu>

<button mat-raised-button color="accent" [matMenuTriggerFor]="appMenu">Menu</button>


<hr>
<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>React</button>
</mat-menu>

<hr>
<mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Logout {{name}}</button>
    </ng-template>
</mat-menu>


<button mat-raised-button color="accent" [matMenuTriggerData]="{ name: 'Bhavik'}"
    [matMenuTriggerFor]="lazyMenu">Bhavik</button>
<button mat-raised-button color="accent" [matMenuTriggerData]="{ name: 'Raj'}"
    [matMenuTriggerFor]="lazyMenu">Raj</button>